<!DOCTYPE html>
<html>
<head>
  <link href="./styles/custom_bootstrap.css" rel="stylesheet">

</head>

<body class="bg-color">
<div id="elm-app-is-loaded-here"></div>
<script src="main.js"></script>
<script>
  var app = Elm.Main.init({
    node: document.getElementById("elm-app-is-loaded-here"),
    flags: {{ .ApiUrl }}
  });
</script>
</body>
</html>